body{

    margin: 0;
    margin-left: 52px;
}

#btnGenPassword{

    width: 191px;
    height: 42px;
    

}

#btnPasswordPlaceholder1{

    width: 191px;
    height: 42px;
    

}

#btnPasswordPlaceholder2{

    width: 191px;
    height: 42px;
    

}

.container1{

    margin-bottom: 100px;
}